# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/

# Environment
.env

# Build
android/
ios/
dist/
web-build/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Temporary
*.tmp
*.temp